MrPiattoClient/Web References/WebService/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertRestaurant">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="confirmation" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertRestaurantResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertRestaurantResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteRestaurant">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteRestaurantResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteRestaurantResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRestaurant">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="mail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="confirmation" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRestaurantResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateRestaurantResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadRestaurant">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadRestaurantResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadRestaurantResult" type="tns:Restaurant" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Restaurant">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Idrestaurant" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Mail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Confirmation" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="LastLogin" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OpeningTime" nillable="true" type="tns:TimeSpan" />
          <s:element minOccurs="1" maxOccurs="1" name="ClosingTime" nillable="true" type="tns:TimeSpan" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dress" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Score" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="SeverityLevel" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TimeSpan" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertRestaurantSoapIn">
    <wsdl:part name="parameters" element="tns:InsertRestaurant" />
  </wsdl:message>
  <wsdl:message name="InsertRestaurantSoapOut">
    <wsdl:part name="parameters" element="tns:InsertRestaurantResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteRestaurantSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteRestaurant" />
  </wsdl:message>
  <wsdl:message name="DeleteRestaurantSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteRestaurantResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateRestaurantSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateRestaurant" />
  </wsdl:message>
  <wsdl:message name="UpdateRestaurantSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateRestaurantResponse" />
  </wsdl:message>
  <wsdl:message name="ReadRestaurantSoapIn">
    <wsdl:part name="parameters" element="tns:ReadRestaurant" />
  </wsdl:message>
  <wsdl:message name="ReadRestaurantSoapOut">
    <wsdl:part name="parameters" element="tns:ReadRestaurantResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="InsertRestaurant">
      <wsdl:input message="tns:InsertRestaurantSoapIn" />
      <wsdl:output message="tns:InsertRestaurantSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRestaurant">
      <wsdl:input message="tns:DeleteRestaurantSoapIn" />
      <wsdl:output message="tns:DeleteRestaurantSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRestaurant">
      <wsdl:input message="tns:UpdateRestaurantSoapIn" />
      <wsdl:output message="tns:UpdateRestaurantSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadRestaurant">
      <wsdl:input message="tns:ReadRestaurantSoapIn" />
      <wsdl:output message="tns:ReadRestaurantSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertRestaurant">
      <soap:operation soapAction="http://tempuri.org/InsertRestaurant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRestaurant">
      <soap:operation soapAction="http://tempuri.org/DeleteRestaurant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRestaurant">
      <soap:operation soapAction="http://tempuri.org/UpdateRestaurant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadRestaurant">
      <soap:operation soapAction="http://tempuri.org/ReadRestaurant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertRestaurant">
      <soap12:operation soapAction="http://tempuri.org/InsertRestaurant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRestaurant">
      <soap12:operation soapAction="http://tempuri.org/DeleteRestaurant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRestaurant">
      <soap12:operation soapAction="http://tempuri.org/UpdateRestaurant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadRestaurant">
      <soap12:operation soapAction="http://tempuri.org/ReadRestaurant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://192.168.100.207/WebSite/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://192.168.100.207/WebSite/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>